<template>
  <div>
    <h1>Hi {{ persone.name }} from {{persone.location}}</h1>
    <h2>Your current amount of GNS Tokens : {{persone.currency}}</h2>
    <router-link to="/" class="btn btn-primary">To The Moon and back</router-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      personeID: this.$route.params.id
    };
  },
  //!!!KROTOV ALERT!!! can use computed but who cares
  //and can use watch in case when i
  // navigate in same component but its not this case
  created() {
    this.getPersone();
  },
  methods: {
    getPersone() {
      this.persone = this.$store.getters.data.filter(
        persone => persone.id == this.personeID
      )[0];
    }
  }
};
</script>
