<template>
  <div>
    <div class="alert alert-info">Click to edit, enter to save, esc to abort action</div>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">Search</span>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-describedby="sizing-addon2"
        v-model="searchInput"
      >
    </div>
    <app-add-person></app-add-person>
    <!-- it posible to make search as component if 
    it use in other parths of app but in current case its not useful-->
    <app-table :searchInput="searchInput"></app-table>
  </div>
</template>

<script>
import Table from "../components/Table/Table.vue";
import AddPerson from "../components/AddPerson.vue";
export default {
  data() {
    return {
      searchInput: ""
    };
  },
  components: {
    appTable: Table,
    appAddPerson: AddPerson
  }
};
</script>
