<template>
  <div class="add-new-form">
    <div class="add-new-form--form-wrapper clearfix">
      <div class="form-group col-xs-12 col-md-3" :class="{'has-error' : !haveErrors}">
        <label>Name</label>
        <input type="text" class="form-control" v-model="newPersone.name">
      </div>
      <div class="form-group col-xs-12 col-md-3" :class="{'has-error' : !haveErrors}">
        <label>Location</label>
        <input type="text" class="form-control" v-model="newPersone.location">
      </div>
      <div class="form-group col-xs-12 col-md-3" :class="{'has-error' : !haveErrors}">
        <label>Currency</label>
        <input type="number" class="form-control" v-model="newPersone.currency">
      </div>
      <div class="form-group col-xs-12 col-md-3">
        <button type="submit" class="btn btn-primary btn--custom" @click="addPersone">Add</button>
      </div>
    </div>
    <div class="alert alert-danger" v-for="(error,index) in errors" :key="index">{{error}}</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newPersone: {},
      errors: []
    };
  },
  methods: {
    addPersone: function() {
      this.checkInput(this.newPersone);
      if (this.haveErrors) {
        this.$store.dispatch("addNewPerson", this.newPersone);
        this.newPersone = {};
      }
    },
    //KROTOV ALLERT!!! Repeaded validation code, can use a mixin but not shure this is the best desition
    checkInput(persone) {
      this.errors = [];

      if (!persone.name && !persone.location && !persone.currency) {
        this.errors.push("Fill inputs pls");
      }
      if (!this.validNumeric(persone.currency)) {
        this.errors.push(
          "Error, invalid number, only possitive and integer values"
        );
      }

      if (
        !this.validString(persone.name) ||
        !this.validString(persone.location)
      ) {
        this.errors.push(
          "Error, invalid name or location, only words without special symbols"
        );
      }

      if (!this.errors.length) {
        return true;
      }
      console.log(this.errors);
    },
    validNumeric(number) {
      return /^[0-9]+$/.test(number);
    },
    validString(string) {
      return !/[^\w\s\][^.]/gi.test(string);
    }
  },
  computed: {
    haveErrors() {
      return !this.errors.length > 0;
    }
  }
};
</script>

<style scoped>
.add-new-form {
  margin-top: 10px;
}
</style>
