<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <router-link to="/" class="navbar-brand">GNS Test Task</router-link>
      </div>
      <div class="collapse navbar-collapse">
        <strong class="navbar-text navbar-right">Total: {{total | currency}}</strong>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" @click="resetData">Reset Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapActions } from "vuex";
import axios from "axios";
export default {
  computed: {
    total() {
      return this.$store.getters.total;
    }
  },
  methods: {
    resetData() {
      this.$store.dispatch("resetTable");
    }
  }
};
</script>