<template>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th
        scope="col"
        v-for="(name,param) in params"
        :key="param"
        @click="sortBy(param)"
        :class="{ active: sortParam == param }"
      >{{name}}</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
</template>

<script>
export default {
  props: ["params"],
  data() {
    return {
      sortParam: "name",
      reverse: false
    };
  },
  methods: {
    sortBy(sortParam) {
      //check if it different param for sorting and revers if not
      this.reverse = this.sortParam == sortParam ? !this.reverse : false;
      this.sortParam = sortParam;
      this.$emit("sortOptionsChange", {
        reverse: this.reverse,
        sortParam: this.sortParam
      });
    }
  }
};
</script>