<template>
  <tr>
    <th scope="row">{{index}}</th>
    <td
      v-for="(name,param) in params"
      :key="param"
      :class="{error:errors.length>0 && editPersonParam == param, editing: person == editedPerson && editPersonParam == param}"
    >
      <div class="view">
        <label @click="editPerson(person,param)">{{person[param]}}</label>
      </div>
      <template v-if="param != 'currency'">
        <input
          class="edit"
          type="text"
          :value="person[param]"
          @keyup.enter="doneEdit($event.target.value,person,param)"
          @keyup.esc="cancelEdit(person,param)"
        >
      </template>
      <template v-else>
        <input
          class="edit"
          type="number"
          min="0"
          @input="currVal = $event.target.value"
          :value="person[param]"
          @keyup.enter="doneEdit($event.target.value,person,param)"
          @keyup.esc="cancelEdit(person,param)"
          @blur="cancelEdit(person,param)"
        >
      </template>
    </td>
    <th scope="row">
      <router-link :to="{name:'Details',params: {name:person.name,id : person.id}}">Details</router-link>
      <!-- use name for pretty link and id to find product in end page  -->
      /
      <a href="#" class="link--delete" @click="deletePerson(person.id)">Delete</a>
    </th>
    <div :style="{ 'width': '100%'}" class="error" v-show="editedPerson && errors.length>0">
      <span v-for="(err,index) in errors" :key="index">{{err}}</span>
    </div>
  </tr>
</template>

<script>
import HeadColumn from "./HeadColumn.vue";
export default {
  props: ["params", "index", "person"],
  data() {
    return {
      errors: [],
      editedPerson: null,
      editPersonParam: null
    };
  },
  methods: {
    deletePerson(id) {
      this.$store.dispatch("deletePerson", id);
    },
    editPerson(person, param) {
      this.beforeEditCache = person[param];
      this.editedPerson = person;
      this.editPersonParam = param;
    },
    doneEdit(e, person, param) {
      if (!this.editedPerson && !e) {
        return;
      }
      let trimVal;
      typeof e == "string" ? (trimVal = e.trim()) : (trimVal = e);
      this.checkInput(trimVal, param);
      if (!this.errors.length > 0) {
        const updatedPersone = Object.assign({}, person, { [param]: trimVal });

        this.$store.dispatch("updateTable", updatedPersone);
        this.editedPerson = null;
        // if (!person[param]) {
        //   this.removePerson(person);
        // }
      }
      console.log(this.errors);
    },

    cancelEdit(person, param) {
      this.editedPerson = null;
      person[param] = this.beforeEditCache;
    },
    //KROTOV ALLERT!!! Repeaded validation code, can use a mixin but not shure this is the best desition
    checkInput(val, param) {
      this.errors = [];

      if (!val) {
        this.errors.push("Fill input pls");
      }
      if (param == "currency" && !this.validNumeric(val)) {
        this.errors.push(
          "Error, invalid number, only possitive and integer values"
        );
      }

      if (param != "currency" && !this.validString(val)) {
        this.errors.push(
          "Error, invalid text, only words without special symbols"
        );
      }

      if (!this.errors.length) {
        return true;
      }
    },
    validNumeric(number) {
      return /^[0-9]+$/.test(number);
    },
    validString(string) {
      return !/[^\w\s\][^.]/gi.test(string);
    }
  }
};
</script>

<style lang="scss" scoped>
.editing {
  .view {
    display: none;
  }
  .edit {
    display: block;
    position: absolute;
  }
}
.edit {
  display: none;
  position: absolute;
}
.link {
  &--delete {
    color: red;
  }
}
</style>