<template>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <app-head-column @sortOptionsChange="sortOptionsChange" :params="params"></app-head-column>
        <tbody>
          <app-row
            v-for="(person,index) in filteredData"
            :person="person"
            :index="index"
            :key="person.id"
            :params="params"
          ></app-row>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import HeadColumn from "./HeadColumn.vue";
import Row from "./Row.vue";
export default {
  props: ["searchInput"],
  components: {
    appHeadColumn: HeadColumn,
    appRow: Row
  },
  data() {
    return {
      newPersone: {},
      errors: [],
      sortParam: "name",
      reverse: false,
      params: {
        //index will not using for sorting by tech task :)
        name: "Name",
        location: "Location",
        currency: "Currency"
      }
    };
  },
  methods: {
    sortOptionsChange(options) {
      this.sortParam = options.sortParam;
      this.reverse = options.reverse;
    }
  },

  computed: {
    data() {
      //Just getter
      return this.$store.getters.data;
    },
    sortedData() {
      const param = this.sortParam;
      return this.data.sort(
        (a, b) =>
          (a[param] < b[param] ? -1 : a[param] > b[param] ? 1 : 0) *
          [1, -1][+this.reverse]
      );
    },
    filteredData() {
      // KROTOV ALERT!!! Simple search, i have better one ,
      // if you remember i work with ultra super fast search
      // in Contact CRM but for speed i use vanila js for him
      const searchWord = this.searchInput.toLowerCase();
      return this.sortedData.filter(person =>
        Object.values(person).some(param =>
          param
            .toString()
            .toLowerCase()
            .includes(searchWord)
        )
      );
    }
  }
};
</script>

<style lang="scss">
.btn {
  &--custom {
    width: 100%;
    margin-top: 24px;
  }
}
</style>
